* {
  box-sizing: border-box;
}
:root {
  --font-main: 'Rubik';
  --display-font: 'Fredoka-One';
  --main-font-color: #f6fff5e0;
  --pop-font-color: rgb(0, 245, 25);
  --night-sky: rgb(7, 0, 65);
  --black-hole: black;
  --glow: rgb(245, 237, 231, 0.8);
  --star-glow: #e5ffe5;
}
@font-face {
  font-family: 'Rubik';
  src: url('./fonts/Rubik-Light.woff2') format('woff2'),
    url('./fonts/Rubik-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rubik-italic';
  src: url('./fonts/Rubik-LightItalic.woff2') format('woff2'),
    url('./fonts/Rubik-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

body {
  height: 100rem;
  width: 100vw;
}

.star-container {
  background-color: var(--night-sky);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
}

.glow {
  animation-name: glow;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
@keyframes glow {
  from {
    box-shadow: 0;
  }
  to {
    box-shadow: 0 0 10px 5px var(--star-glow);
  }
}
@keyframes glow {
  from {
    box-shadow: 0 0 10px 5px var(--star-glow);
  }
  to {
    box-shadow: 0;
  }
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: absolute;
}

h1 {
  font-family: var(--font-main), sans-serif;
  color: var(--main-font-color);
  text-align: center;
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: 0;
}

h2 {
  font-family: var(--font-main), sans-serif;
  color: var(--main-font-color);
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 5rem;
}

.black-hole {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hole {
  background-color: var(--black-hole);
  width: 70vw;
  height: 40vw;
  border-radius: 50%;
  box-shadow: 0rem /* x offset */ 0rem /* y offset */ 87px /* blur size */ 25px
    /* blur spread */ var(--glow); /* color, opacity */
}

.spin {
  animation-name: spin;
  animation-duration: 600ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.item-container {
  display: flex;
  align-items: center;
  width: 10rem;
  height: 10rem;
  margin-top: 3rem;
  position: relative;
}

.item-container img {
  width: 100%;
  height: auto;
  position: absolute; /* stacks images */
}

/* hides images when not clicked */
.hidden {
  display: none;
}

.move {
  transform: translateY(-200px) scale(0.0001);
  transition: transform 2s ease;
}
